html{
    scroll-behavior: smooth;
}
body{
    background-color: #333;
    color: #fff;
}
.navbar{
    border-bottom: 3px solid #008ed6;
    opacity: 0.7;
    background-color: #292b2c;
}
#home-sec{
    background: url(../image/home2.jpg) no-repeat center top;
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
}
.dark-overlay{
    background-color: #00000080;
    min-height: 700px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.fa{
    background-color: #fff;
    color: #008ed6;
    padding: 5px;
    border-radius: 5px;
    font-size: 28px;
}
.form-set{
    opacity: 0.8;
}
#explore-sec .d-flex .fa , #shareMainSection .fa{
    background-color: #333;
    color: #fff;
}





/* MEDIA QUERY START */

@media (max-width: 375px){
    #home-sec .d-flex{
        display: none !important;
    }
}
@media (max-width: 767px){
    #home-sec h1{
        font-size: 30px;
    }
}

/* MEDIA QUERY END */